.wrapper {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.container {
  width: var(--default-layout-width);
  margin-top: var(--default-layout-header-height);
  display: flex;
}

.content{
    flex: 1;
}